body {
    font-family: 'PTSans', "Roboto", "San Francisco", Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
.container {
    width: 60%;
    margin: 0 auto;
}
main .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.top-menu {
    display: flex;
    justify-content: space-between;
}
.top-menu form {
    position: relative;
}
.top-menu input {
    width: 250px;
    height: 30px;
    outline: none;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 15px;
    border: 2px solid #01a7d4;
}
.top-menu button {
    position: absolute;
    top: 56px;
    left: 215px;
    width: 25px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: url(../images/search.png) no-repeat;
}
.navigation {
    margin-top: 40px;
    background: #01a7d4;
    height: 55px;
}
.navigation a {
    padding: 19px 5px;
    text-transform: uppercase;
}
.navigation a:hover {
    background: #18b7e2;
    text-decoration: underline; 
    cursor: pointer;
}
.navigation a:active {
    background: #1d9bbd;
    text-decoration: underline;
    cursor: pointer; 
}
.navigation ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
li {
    list-style-type: none;
}
.navigation li {
    padding: 20px 0;
    color: #ffffff
}
.logo {
    display: flex;
}
.logo span {
    font-size: 16px;
    font-weight: normal;
}
.top-menu form {
    padding-top: 50px;
}
.about {
    margin: 30px 40px 0 400px;
    font-size: 18px;
}
.img {
    background: url(../images/company.jpg) no-repeat;
    float: left;
    width: 300px;
    height: 200px;
    padding-right: 40px;
}
.company p {
    margin: 0;
}
.container h2 {
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
.section {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.advantages ol {
    padding: 0;
}
.advantages li {
    margin-top: 5px;
}
.advantages span {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 5px 10px 5px 0;
    border-radius: 25px;
    border: 1px solid #01a7d4;
    width: 30px;
    height: 30px;
    font-weight: bold;
}
.production {
    width: 60%;
    margin-left: 20px;
}
footer {
    margin-top: 50px;
    padding: 10px 0 10px 0;
    background: #f3f3f3;
}